<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/author/main.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
  </head>

  <body>
    <div class="frame">
      <div class="main_frame">
        <div class="left_frame">
          <div class="left_1">
            <div class="left_1-1">
              <img
                src="images/Profile.png"
                width="156px"
                height="142px"
                alt=""
              />
            </div>
            <div class="left_1-2"><%=user.name%></div>
            <div class="left_1-3"><%=user.profession%></div>
            <div class="left-icons">
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Facebook (4).svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Instagram (4).svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Twitter (4).svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Dribbble (4).svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Linkeding (3).svg" class="icon-1" />
                </div>
              </a>
              <a class="link_href" href="">
                <div class="icon">
                  <img src="icon/Youtube (3).svg" class="icon-1" />
                </div>
              </a>
            </div>
          </div>
          <div class="marginer">
            <div class="info-item">
              <span class="label">Age:</span>
              <span class="value">24</span>
            </div>
            <div class="info-item">
              <span class="label">Residence:</span>
              <span class="value">BD</span>
            </div>
            <div class="info-item">
              <span class="label">Freelance</span>
              <span class="value available">Availeble</span>
            </div>
            <div class="info-item">
              <span class="label">Address:</span>
              <span class="value">Dhaka, Bangladesh</span>
            </div>
          </div>
          <div class="left_2"></div>
          <div class="marginer"></div>
          <div class="left_3">
            <div class="languages">
              <h3>Languages</h3>
            
              <div class="language">
                <span>Bangla</span>
                <span>100%</span>
                <div class="progress">
                  <div class="progress-bar" style="width: 100%;"></div>
                </div>
              </div>
            
              <div class="language">
                <span>English</span>
                <span>80%</span>
                <div class="progress">
                  <div class="progress-bar" style="width: 80%;"></div>
                </div>
              </div>
            
              <div class="language">
                <span>Spanish</span>
                <span>60%</span>
                <div class="progress">
                  <div class="progress-bar" style="width: 60%;"></div>
                </div>
              </div>
            </div>
          <div class="marginer">
            
    
            
    
            
          
            </div></div>
          
          <div class="left_4"></div>
          <div class="marginer"></div>
           <div class="left_5">
             
              
         
      </div>
    </div>
    
  </body>
</html>
